
.container {
    color: black;
    align-items: flex-start;
    
}

.Accordion {
    max-width : 100%;
    text-align: center;
    color: black;
    display:list-item;
    align-items:  center;
    padding: 0vh 2vh 0vh 2vh;
}


.education{
    display: flex;
    flex-direction: column;
}

.title{
    background-color: grey;
    color: white;

}