
.container {
    width: 100%;
    background-color: white;
    color: black;
    align-items: flex-start;
    
}

.Accordion {
    text-align: center;
    color: black;
    display:list-item;
    align-items:  center;
    padding: 5vh 10vh 5vh 10vh;
}


.education{
    display: flex;
    flex-direction: column;
}

.title{
    background-color: grey;
    color: white;

}