
.container {
    color: black;
    align-items: flex-start;
    background-color: rgba(97, 155, 138, 0.3);
    margin: 0vh 45vh 0vh 45vh;
    border-radius: 15px;
    
}

.Accordion {
    max-width : 100%;
    text-align: center;
    color: black;
    display:list-item;
    align-items:  center;
    padding: 0vh 0vh 0vh 0vh;
}


.education{
    display: flex;
    flex-direction: column;
}

.title{
    background-color: rgba(161, 193, 129, 0.8);;
    color: rgb(35, 61, 77);
    border-radius: 10px;

}

@media  (max-width: 2400px) {

    .container{
        margin: 0vh 35vh 0vh 35vh;
    }
}

@media  (max-width: 1500px) {

    .container{
        margin: 0vh;
    }
}