.accordion {
    border-bottom: 1px solid lightgray;
    align-items: center;
}




.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item:hover {
    color: rgb(35, 61, 77);
    background-color: rgba(254, 127, 45, 0.4);
   
}

.title {
    display: flex;
    flex-direction: row;
    
}

.content {
    margin: 10px 10px 10px 10px;
}