.accordion {
    border-bottom: 1px solid lightgray;
    align-items: center;
}




.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item:hover {

    background-color: lightgray;
    color: white;
   
}

.title {
    display: flex;
    flex-direction: row;
    
}

.content {
    margin: 10px 10px 10px 10px;
}