.container {
    background-color: rgba(161, 193, 129, 1);
    color: black;  
    text-align: center;
    margin: 0vh 45vh 0vh 45vh;
    border-radius: 15px;
}



.containerName{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 10vh 5vh 10vh;
    color: 35, 61, 77;  
}

.name {
    align-items: center;    
    display: flex;
    flex-direction: row;
}

.fullstack{
    padding: 10px 10px 10px 10px;
}

.photo{
    height: 200px;
    border-radius: 2px;
    border: 2px solid;
    border-color: rgba(1, 42, 74, 0.6);
    box-shadow: -6px 5px rgba(1, 42, 74, 0.3);
}

.description{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 50px 10px;
    text-align: justify;
} 


.containerSkills{
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: -25vh;

}

.frontEnd{
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(35, 61, 77, 0.7);
    border-radius: 15px;    
    background-color: white;  
    width: 250px;
    height:320px;
    box-shadow: -6px 5px rgba(1, 42, 74, 0.3);
}

.backEnd{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(1, 42, 74, 0.7);
    border-radius: 15px;
    background-color: white;
    width: 250px;
    height:320px; 
    box-shadow: 0px 5px rgba(1, 42, 74, 0.3);
}

.frontEnd h3, h4{
    color: rgba(35, 61, 77, 1);


}

.backEnd  h3, h4{
   color: rgba(35, 61, 77, 1);

}

@media  (max-width: 2400px) {

    .container{
        margin: 0vh 35vh 0vh 35vh;
    }
}

@media  (max-width: 1500px) {

    .container{
        margin: 0vh 0vh 1vh 0vh;
    }
}

@media  (max-width: 600px) {


    .containerSkills{
        display: flex;
        flex-direction: column;
        padding: 0vh 10vh 0vh 10vh;
        margin: -7vh;
    }

    .containerName{
        
        padding: 5vh 3vh 5vh 3vh;
        color: 35, 61, 77;  
    }

    .containerSkills{
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 0vh;
        margin-top: -7vh;
    
    }
    
    .frontEnd{
        height:250px;
        margin-bottom: 0vh;
    }
    
    .backEnd{
        height:250px;  
        box-shadow: -6px 5px rgba(1, 42, 74, 0.3);
        margin-bottom: -7vh;
    }
}