.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    text-align: center;

}

.containerBanner{
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 5vh 10vh 5vh 10vh;
}


.banner {
    align-items:  center;
    max-height: 20%;
    width: 30%;
    
}

.containerName{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh 10vh 5vh 10vh;
    background-color: rgba(241, 171, 134, 0.2);
    color: black;   
}

.name {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.fullstack{
    box-align: center;
    padding: 10px 10px 10px 10px;
}

.photo{
    height: 200px;
    border-radius: 90px;
    border: 2px solid;
    border-color: rgba(241, 171, 134, 0.6);
}

.description{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 50px 10px;
} 


.containerSkills{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: -10vh;

}

.frontEnd{
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(241, 171, 134, 0.7);
    border-radius: 15px;    
    background-color: white;  
    width: 350px;
    height:300px;
}

.backEnd{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(241, 171, 134, 0.7);
    border-radius: 15px;
    background-color: white;
    width: 350px;
    height:300px;   
}

.frontEnd h3, h4{
    color: rgba(241, 171, 134, 1);


}

.backEnd  h3, h4{
   color: rgba(241, 171, 134, 1);

}
