.home {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(59, 67, 88, 0.2) ; 
    
      
}

.home .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    text-align: center;
    
}

.home .container .containerDescription{
    display: flex;
    flex-direction: row;
    padding: auto;
    margin: auto;
    
  
} 

.home .container .containerDescription .img {
    margin: auto !important;
    

} 

