.container {
    background-color: rgba(161, 193, 129, 1);
    color: black;  
    text-align: center;
}



.containerName{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 10vh 5vh 10vh;
    color: 35, 61, 77;  
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.fullstack{
    padding: 10px 10px 10px 10px;
}

.photo{
    height: 200px;
    border-radius: 2px;
    border: 2px solid;
    border-color: rgba(1, 42, 74, 0.6);
    box-shadow: -6px 5px rgba(1, 42, 74, 0.3);
}

.description{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 50px 10px;
    text-align: justify;
} 


.containerSkills{
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: -25vh;

}

.frontEnd{
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(35, 61, 77, 0.7);
    border-radius: 15px;    
    background-color: white;  
    width: 250px;
    height:250px;
}

.backEnd{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(1, 42, 74, 0.7);
    border-radius: 15px;
    background-color: white;
    width: 250px;
    height:250px;  
}

.frontEnd h3, h4{
    color: rgba(35, 61, 77, 1);


}

.backEnd  h3, h4{
   color: rgba(35, 61, 77, 1);

}
