
.navbar{
  display: flex;
  align-items: center;
  height: 6vh;
  margin: 0 auto;
  font-size: calc(9px + 2vmin);
  color: black;
  }

.navbar .links {
  margin-left: auto;
}
  
.navbar a {
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
  padding: 5px ;
  color: black;
}

.navbar a:hover {
  color: white;
  background-color: rgba(88, 153, 226, 0.8);
  border-radius: 8px;
}