
.container{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-size: calc(12px + 2vmin);
  background-color: rgba(97, 155, 138, 0.9);
  padding: 15px 0px 15px 0px; 
}

.links {
  margin: auto;
}
  
.links a {
  text-decoration: none;
  padding: 5px ;
  color: rgb(35, 61, 77);
}

.links a:hover {
  color: rgb(35, 61, 77);
  background-color: rgba(254, 127, 45, 0.4);
  border-radius: 8px;
}

@media  (max-width: 500px) {

  .container{
      width: 100% ;
      font-size: calc(7px + 2vmin);
  }

  .containerBanner{
      width: 100%;
  }
}