
.container{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  font-size: calc(9px + 2vmin);
  background-color: rgba(79,83,254, 0.9);
  padding: 10px 10px 10px 10px;
}

.links {
  margin: auto;
}
  
.links a {
  margin-right: 5px;
  text-decoration: none;
  padding: 5px ;
  color: white;
}

.links a:hover {
  color: white;
  background-color: rgba(59, 67, 88, 0.5);
  border-radius: 8px;
}

