
.container{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  font-size: calc(9px + 2vmin);
  background-color: rgba(97, 155, 138, 0.9);
  padding: 10px 10px 10px 10px;
}

.links {
  margin: auto;
}
  
.links a {
  margin-right: 5px;
  text-decoration: none;
  padding: 5px ;
  color: rgb(35, 61, 77);
}

.links a:hover {
  color: rgb(35, 61, 77);
  background-color: rgba(254, 127, 45, 0.4);
  border-radius: 8px;
}

