.FullContainer{
    display: flex-inline-block;
    align-items: center;
}


.container {
    background-color: rgba(161, 193, 129, 1);
    color: black;
    text-align: center;
    margin: 0vh 45vh 0vh 45vh;
    border-radius: 15px;
    padding: 15px;
    }

.projects{
    align-self: center;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin: 3vh;
    justify-content: space-between;
}

.Container1{
    flex-direction: column;
    padding: 20px 70px 0px 70px;
    border: 1px solid rgba(1, 42, 74, 0.7);
    border-radius: 15px;
    background-color: white;
    width: 250px;
    height:320px;
    box-shadow: -6px 5px rgba(1, 42, 74, 0.3);
    margin: 1vh;
}

.Container2{
    flex-direction: column;
    padding: 20px 70px 0px 70px;
    border: 1px solid rgba(1, 42, 74, 0.7);
    border-radius: 15px;
    background-color: white;
    width: 250px;
    height:320px;
    box-shadow: -6px 5px rgba(1, 42, 74, 0.3);
    margin: 1vh;
}


.Container1:hover{
    opacity:0.9;
    transform: scale(1.1)
}


.Container2:hover{
    opacity:0.9;
    transform: scale(1.1)
}


.img1 {
    width: 250px;
    padding-top: 4em;
}



.containerProjects{
    display: flex;
    flex-direction: row;

}
.Garconet{
    align-self: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.GNcontent{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-self: center;
    align-items: center;
    margin: 0vh 35vh 0vh 35vh;

}

.App{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}
.imgAPP{
    width: 300px;
    margin: 1em;
}

.Site{
    padding-top: 3em;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-self: center;
    align-items: center;
    margin: 0vh 45vh 0vh 45vh;
}

.imgSite{
    height: 50px;
}


@media  (max-width: 2400px) {

    .container{
        margin: 0vh 35vh 0vh 35vh;

    }

    .containerProjects{
        display: flex;
        flex-direction: row;
    }

    .Site{
        margin: 0vh 35vh 0vh 35vh;
    }
}

@media  (max-width: 1900px) {
    .App{
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: red;
    }

    .GNcontent{
        margin: 0vh 25vh 0vh 25vh;

    }

    .Site{
        margin: 0vh 35vh 0vh 35vh;
    }

    .containerProjects{
        display: flex;
        flex-direction: row;
    }



}

@media  (max-width: 1500px) {

    .container{
        margin: 0vh 0vh 0vh 0vh;
    }

    .projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0vh 25vh 0vh 25vh;
    }

    .containerProjects{
        margin: 0vh 25vh 0vh 25h;
    }

    .GNcontent{
        margin: 0vh 15vh 0vh 15vh;
    }

    .Site{
        margin: 0vh 15vh 0vh 15vh;
    }
}

@media  (max-width: 1000px) {

    .projects{
        margin: 0vh 10vh 0vh 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

     .App{
        display: flex;
        flex-direction: column;
    }

    .GNcontent{
        margin: 0vh 10vh 0vh 10vh;
    }
    .Site{
        margin: 0vh 5vh 0vh 5vh;
    }

}


@media  (max-width: 500px) {

    .projects{
        margin: 0vh 5vh 0vh 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Container1{
        align-content: center;
        padding: 20px 70px 0px 70px;
        width: 150px;
        height:250px;

    }
    .img1{
        width: 150px;
        padding-top: 4em;
    }

    .img2{
        width: 150px;
    }
    .Container2{
        padding: 20px 70px 0px 70px;
        width: 150px;
        height:250px;

    }

    .GNcontent{
        margin: 0vh 1vh 0vh 1vh;
    }

    .Site{
        margin: 0vh 2vh 0vh 2vh;
    }

}